$pagecolor: #4489FE;
$background-grey: #F7F7F7;

* {
    box-sizing: border-box;
}

%button {
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
    color: $pagecolor;
    border-radius: 2px;
}

%button:focus {
    outline: 0 !important;
}


.clearfix::after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
}


.welcome {
    min-height: 975px;
    background-image: url("../image/welcome.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    .nav-1,
    .nav-2 {
    background-color: rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 2px !important;
        
    .navbar-toggler {
        background-color: transparent !important;
        border: none;
    }
}

    .nav-1 {
        @media only screen and (max-width: 575px) {
            ul {
                flex-direction: row;
            }
            
            a {
                padding: 10px !important;
            }
        }
    }
    
    .nav-2 {
        .fa {
            padding: 5px;
        }
        
        a:hover {
            border-bottom: 1px solid white;
        }

        .navbar-brand {
            border-bottom: none !important;
        }

    @media only screen and (max-width: 767px) {
        #collapsibleNavbar   {
            text-align: center;
        }
        
        a:hover {
            border-bottom: none;
        }
    }
           
}

    .carousel {
        .carousel-control {
            bottom: auto !important;
            top: 50%;
            transform: translate(0 , -50%);
            width: auto !important;
            padding: 15px 20px;
            font-size: 25px;
            background-color: rgba(0, 0, 0, 0.5) !important;
            background-image: none;
        }
            .carousel-control:hover {
                background-color: $pagecolor !important;
            }
    }
    
    .carousel-item {
        height: 1000px !important;
    }
    
    .carousel-caption {
        text-align: left !important;
        top: 40% !important;
        bottom: auto !important;
        right: 30% !important;
        transform: translate( 0 , -50%);
        
        p {
            font-size: 50px !important;
            margin-bottom: 40px !important;
        }
        
        button {
            color: black;
            text-transform: uppercase;
            padding: 15px 20px;
            font-size: 10px;
            font-weight: bold;
            background-color: white;
            border: none;
            margin-right: 15px !important;
        }
        
        button:hover {
            background-color: $pagecolor;
            color: white;
            outline: 0;
        }
    }
    
    @media only screen and (max-width: 767px) {
        
        .carousel-control {
            
            padding: 10px 10px !important;
            font-size: 20px !important;
            top: 30% !important;
        }
            
        .carousel-caption {
            top: 30% !important;
            right: 20% !important;
                
            p {
                font-size: 30px !important;
                margin-bottom: 20px !important;
            }
                
            button {
                margin-top: 20px;
                padding: 10px 15px;
            }
        }
        
        .help-desk:nth-child(1) {
            background-color: #77A9FE;
        }
    
        .help-desk:nth-child(2) {
            background-color: #4486FE;
            margin-left: 0 !important;
            margin-top: -1px;
        }
    
        .help-desk:nth-child(3) {
            background-color: #3971D2;
            margin-left: 0 !important;
            margin-top: -1px;
        }
    }
    
    .help-desk {
        padding: 40px 25px;
        color: white;
        
        h6 {
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        
        p {
            font-size: 15px;
            line-height: 2;
            flex: 1;
//            margin-bottom: 20px;
        }
        
        button {
            background-color: transparent;
            border: 1px solid white;
            color: white;
            text-transform: uppercase;
            padding: 10px 15px;
            font-size: 12px;
        }
    }
    
    .help-desk:nth-child(1) {
        background-color: #77A9FE;
        .p {
            flex: 1;
            margin-bottom: 20px;
        }
    }
    
    .help-desk:nth-child(2) {
        background-color: #4486FE;
        margin-left: -1px;
    }
    
    .help-desk:nth-child(3) {
        background-color: #3971D2;
        margin-left: -1px;
        
        ul {
            flex: 1;
        }
        
        .list-group-item {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid white;
            padding: 0 0 10px 0;
            margin-bottom: 10px;
        }
        
        .list-group-item:last-child {
            border-bottom: none !important;
        }
        
        .badge {
            background-color: transparent;
            padding: 10px 0;
        }
    }
    
    .welcome-pop {
        position: absolute;
        top: 100%;
        width: 100%;
        transform: translate(0 , -50%);
    }
    
    @media only screen and (min-width: 768px) {
        .row {
            margin: 0;
//            min-height: 355px;
        }
        
        .help-desk {
//            height: 100%;
        }
    }
}



%topline {
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    line-height: 2;
    margin-bottom: 50px;
    p {
        font-size: 17px;
    }
}

.medical {
    padding: 270px 0 70px 0;
}

.topline {
        @extend %topline;   
    }

    .card-service {
        text-align: center !important;
        padding: 20px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1); 
        
        span {
            text-align: center;
            width: 100px;
            height: 100px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            font-size: 50px;
            padding: 25px 0;
            color: $pagecolor;
            margin: 30px 0;
        }
        
        h5 {
            font-weight: bold;
            font-size: 17px;
        }
        
        p {
            font-size: 15px;
        }
    }
      

@media only screen and (max-width: 767px) {
    .medical {
        padding-top: 600px;
    }
    
    .service-box {
        padding: 0 0 20px 0 !important ;
    }
    
}

.doctors-shell,
.patients-shell {
    padding: 100px 0 150px 0;
    background-color: $background-grey;
}


.card-doctor {
    background-color: white;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    
    .doctor-img {
        height: 200px;
        background-color: rgba(0, 0, 0, 0.1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    .doctor-info {
        padding: 35px 20px 40px;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex: 1 1 auto !important;
        justify-content: space-between;
        
        h6 {
//            text-transform: uppercase;
//            padding-bottom: 20px;
//            margin-bottom: 25px;
            position: relative;
//            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        
        hr {
            width: 100%;
        }
        
        .doctor-description {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 auto!important;
        }
        p {
            font-size: 13px;
            margin-bottom: 25px;
            line-height: 2;
//            flex: 1;
        }
        button {
            @extend %button;
            border: 1px solid $pagecolor;
            background-color: white;
        }
    }
}

.doctor-indicator {
    top: 100%;
    transform: translate(0 , 50px);
    bottom: auto;
    
    li {
        border: 1px solid $pagecolor;
        width: 8px;
        height: 8px;
        border-radius: 10px;
    }
    
    .active {
        background-color: $pagecolor;
    }
}

.card-doctor:hover {
    cursor: pointer;
    
    button {
        background-color: $pagecolor;
        color: white;
    }
}


.availables {
    background-image: url(../image/available.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    
    .avail-color {
        background-color: rgba(68, 137, 254, 0.8);
    }
    
    .avail-info {
        padding: 100px 0;
        text-align: center;
        color: white;
        
        p {
            text-transform: capitalize;
        }
    }
}


.our-services {
    padding: 100px 0;
}

.department {
    background-color: $pagecolor;
    color: white;
    flex: 1;

    .heading {
        text-transform: uppercase;
//        padding: 20px 0 0 0;
    }
    
    .item {
        background-color: transparent;
        text-align: left;
        border: 0;
        padding: 20px 0;
        border-bottom: 1px solid white;
    }
    
    .item:last-child {
        border-bottom: 0;
    }
    
    
    button {
       @extend %button;
        color: white;
    }
}

.card-clinic {
    
    .heading {
        margin-bottom: 40px;
    }
    
    .doctor-info {
        text-align: left;
    }
    
    .carousel-control-right {
        top: auto;
        bottom: 100%;
        background-color: $pagecolor;
        width: auto !important;
        padding: 10px 15px;
        transform: translate(0 , -80%);
    }
    
    .carousel-control-left {
        left: 100%;
        bottom: 100%;
        top: auto;
        background-color: $pagecolor;
        width: auto !important;
        padding: 10px 15px;
        transform: translate(-260% , -80%);
    }
}

.carousel-item {
    overflow: hidden !important;
}

.patient-link {
    color: $pagecolor;
    text-decoration: none !important;
    padding-bottom: 10px;
}

.patient-link:hover {
    text-decoration: none !important;
}

.card-patient {
    padding-top: 50px;
    position: relative;
    
    .patient-img {
        width: 120px;
        height: 120px;
        background-color: white;
        border-radius: 50%;
        padding: 3px;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50% , -50%);
        
        
        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.1);
            object-fit: cover;
            object-position: center top;
        }
        
    }
}


.medical-news {
    padding: 100px 0 150px 0;
}

.card-medical {
    h6 {
        margin-bottom: 15px;
    }
    
    p {
        margin: 0 !important;
    }
    
    .medical-img {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            object-position: center top;
        }
    }
}